{% extends 'interface_base.html' %}

{% block api_management %}active{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-success text-white" type="button" onclick="window.location.href='{% url api_add %}'">添加</button>
        </div>
        <div class="col-md-10 text-right">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="text" name="keyword"/>
                <button class="btn btn-primary my-2 my-sm-0" type="submit">
                    搜索
                </button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        接口名称
                    </th>
                    <th>
                        IP
                    </th>
                    <th>
                        端口号
                    </th>
                    <th>
                        备注
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        TB - Monthly
                    </td>
                    <td>
                        01/04/2012
                    </td>
                    <td>
                        Default
                    </td>
                    <td>
                        Default
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group">
                            <a id="api-detail1" href="#api-detail1-container" role="button" class="btn btn-info"
                               data-toggle="modal">详情</a>
                            <div class="modal fade" id="api-detail1-container" role="dialog" aria-labelledby="myModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="myModalLabel">详情</h5>
                                            <button type="button" class="close" data-dismiss="modal">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <form method="post" action="{% url 'login' %}" role="form">
                                            <div class="modal-body">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label for="id_username">用户名:</label>
                                                    <input type="text" name="username" placeholder="用户名"
                                                           class="form-control" required id="id_username"/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="id_password">密码:</label>
                                                    <input type="password" name="password" placeholder="密码"
                                                           class="form-control" required id="id_password"/>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">确定
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="button"
                                    onclick="window.location.href='{% url 'home' %}'">
                                编辑
                            </button>
                            <button class="btn btn-danger" type="button"
                                    onclick="window.location.href='{% url 'home' %}'">
                                删除
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}