{% extends 'base.html' %}

{% block interface %}active{% endblock %}

{% block body %}
    <div class="col-2">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link {% block testcase %}{% endblock %}" href="{% url 'interface' %}">测试用例</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% block api_management %}{% endblock %}" href="{% url 'api_management' %}">接口管理</a>
            </li>
        </ul>
    </div>
    <div class="col-10">
        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>
    </div>


{% endblock %}